.Card{
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid;
    text-align: center;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.Card .Title{
    padding: 5px 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.Card .Content{
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    padding: 10px;
}

